* {
    box-sizing: border-box
}

body {
    margin: 0;
    position: relative;
    font-family: Poppins, sans-serif
}

.ovh {
    overflow: hidden;
}

.invite {
    &-page {
        min-height: 100vh;
        padding: 100px 0;
        background-color: #d8d8d8;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    &-container {
        display: flex;
        flex-direction: column;
    }
    &-card {
        background-color: #fff;
        height: 700px;
        width: 500px;
        padding:25px;
        &.front {
            background: url('/assets/images/bunga1.png');
            background-size: 500px;
            background-position: -15px 0;
            background-repeat: no-repeat;
            background-color: white;
            margin-bottom: 50px;
            position: relative;
        }
    }
    &-title {
        position: absolute;
        bottom: 25px;
        right: 25px;
        text-align: right;
        h1 {
            margin: 20px 0;
            span {
                display: block
            }
        }
        h3 {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

#partners {
    display: none;
}

#partners.show-this {
    display: block;
}

.guests-list {
    max-width: 100%;
    margin: 25px;
    .row {
        display: flex;
        border-bottom: 1px solid #ddd;
        span {
            width: calc(100% / 6);
            padding: 10px 15px;
        }
        &.row-title {
            font-weight: 700;
            border-top: 1px solid #ddd;
        }
    }
}

.totalpax {
    margin: 25px;    
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

form {
    input, select, textarea {
        width: 100%;
        padding: 10px;
        outline: none;
        display: block;
        border-radius: 5px;
        border: 1px solid #ddd;
    }
    textarea {
        height: 100px;
    }
    .form-row {
        margin-bottom: 20px;
        label {
            display: block;
            margin-bottom: 10px;
        }
        &.submit {
            margin-bottom: 0;
            p {
                margin: 0;
            }
        }
    }
}

.popup {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    transition: 0.3s all;
    opacity: 0;
    visibility: hidden;
    &-content {
        width: 500px;
        max-width: 100%;
        margin: 0 auto;
        background: white;
        padding: 20px;
    }
    &-close {
        text-align: right;
    }
    &-header {    
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        h2 {
            margin: 0;
        }
    }
    &.show-this {
        opacity: 1;
        visibility: visible;
    }
    iframe {
        width: 100%;
        height: 250px;
    }
}