* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: Poppins, sans-serif
}

.invite {
    &-page {
        min-height: 100vh;
        padding: 100px 0;
        background-color: #d8d8d8;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    &-container {
        display: flex;
        flex-direction: column;
    }
    &-card {
        background-color: #fff;
        height: 700px;
        width: 500px;
        padding:25px;
        &.front {
            background: url('/assets/images/kerawangNew.png');
            background-size: 200px;
            background-position: 15px 20px;
            background-repeat: no-repeat;
            background-color: white;
            margin-bottom: 50px;
            position: relative;
        }
    }
    &-title {
        position: absolute;
        bottom: 25px;
        right: 25px;
        text-align: right;
        h1 {
            margin: 20px 0;
            span {
                display: block
            }
        }
        h3 {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
        }
    }
}

#rsvpForm {
    margin: 20px auto;
}

#partners {
    display: none;
}

#partners.show-this {
    display: block;
}

.guests-list {
    max-width: 100%;
    margin: 25px;
    .row {
        display: flex;
        border-bottom: 1px solid #ddd;
        span {
            width: calc(100% / 6);
            padding: 10px 15px;
        }
        &.row-title {
            font-weight: 700;
            border-top: 1px solid #ddd;
        }
    }
}

.totalpax {
    margin: 25px;    
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}