@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

.ovh {
  overflow: hidden;
}

.invite-page {
  min-height: 100vh;
  padding: 50px 0;
  background-color: #d8d8d8;
  transition: 0.3s all;
}
.invite-page.hide-this {
  opacity: 0;
  visibility: hidden;
}
.invite-container {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.invite-lang {
  text-align: right;
  z-index: 1;
  position: relative;
}
.invite-lang a {
  display: inline-block;
  background: #652f30;
  color: #fff;
  padding: 7px 20px;
  border-radius: 10px;
  font-size: 12px;
  transition: 0.3s all;
}
.invite-lang a:hover {
  opacity: 0.8;
}
.invite-card {
  background-color: #fff;
  height: 700px;
  width: 500px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto;
  position: relative;
}
.invite-card.front {
  background: url("/bunga-new.0990dabf.png");
  background-size: 630px;
  background-position: -70px -130px;
  background-repeat: no-repeat;
  background-color: white;
  position: relative;
  margin-bottom: 25px;
}
.invite-card.front:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  opacity: 1;
  background: url("/bunga3.7144d8ee.png");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: 50px -60px;
}
.invite-card.back {
  text-align: center;
  height: initial;
  position: relative;
  padding: 0;
}
.invite-card.back .wrapper {
  z-index: 1;
  position: relative;
  padding: 50px 50px 0;
}
.invite-card.back:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  opacity: 0.5;
  background: url("/bunga-2-new.8231766d.png");
  background-size: 800px;
  background-position: -225px -70px;
  background-repeat: no-repeat;
}
.invite-card .content {
  margin: 50px 0;
  z-index: 1;
  position: relative;
}
.invite-card .content p {
  margin: 0 0 20px;
}
.invite-card .content h3 {
  font-size: 28px;
  font-weight: 600;
  font-family: "Dancing Script", cursive;
}
.invite-card .content h3 span {
  display: block;
  margin: 10px 0;
}
.invite-card .content h5 {
  font-size: 16px;
  margin: 0 0 10px;
}
.invite-card .content:first-of-type {
  margin-top: 0;
}
.invite-card .content:last-of-type {
  margin-bottom: 0;
}
.invite-front {
  height: calc(100% - 32px);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.invite-title {
  text-align: right;
}
.invite-title h1 {
  margin: 20px 0;
  font-size: 70px;
  font-weight: 600;
  font-family: "Dancing Script", cursive;
}
.invite-title h1 span {
  display: block;
}
.invite-title h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
}
.invite-links {
  width: 100%;
  max-width: 500px;
  display: flex;
  z-index: 1;
  position: fixed;
  bottom: 0;
  height: 51px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
}
.invite-links-wrapper {
  height: 51px;
  position: relative;
  margin-top: 50px;
  background: #652f30;
}
.invite-links > a {
  width: 100%;
  text-align: center;
  background: #652f30;
  color: #fff;
  font-size: 14px;
  transition: 0.3s all;
  display: flex;
  align-items: center;
  justify-content: center;
}
.invite-links > a:hover {
  background: #8f5c55;
}
.invite-links > a.active {
  background: #8f5c55;
}
.invite-links.show-this {
  opacity: 1;
  visibility: visible;
}
.invite-links.sticky {
  position: absolute;
}
.invite-end {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

#partners.show-this {
  display: block;
}

.guests-list {
  max-width: 100%;
  margin: 25px;
}
.guests-list .row {
  display: flex;
  border-bottom: 1px solid #ddd;
}
.guests-list .row span {
  width: 16.6666666667%;
  padding: 10px 15px;
}
.guests-list .row.row-title {
  font-weight: 700;
  border-top: 1px solid #ddd;
}

.totalpax {
  margin: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

form {
  transition: 0.3s all;
}
form input, form select, form textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  display: block;
  border-radius: 5px;
  border: 1px solid #ddd;
}
form select, form option {
  background: #fff;
  color: #000;
  -webkit-appearance: none;
}
form .select-wrapper {
  position: relative;
}
form .select-wrapper:after {
  content: "▼";
  font: normal normal normal 12px/1 FontAwesome;
  color: #000;
  right: 14px;
  top: 12px;
  height: 37px;
  padding: 0;
  position: absolute;
  pointer-events: none;
}
form textarea {
  height: 100px;
}
form .form-row {
  margin-bottom: 15px;
}
form .form-row label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}
form .form-row.submit {
  margin-bottom: 0;
}
form .form-row.submit p {
  margin: 0;
}
form .form-row.submit .submit-btn {
  color: #fff;
  background: #652f30;
  transition: 0.3s all;
  display: block;
  height: 37px;
  border-radius: 5px;
  cursor: pointer;
}
form .form-row.submit .submit-btn:hover {
  opacity: 0.8;
}
form .form-row.two-col {
  display: flex;
  margin: 0 0 20px -10px;
}
form .form-row.two-col > * {
  width: 100%;
  padding-left: 10px;
}
form .form-row.hide-this {
  display: none;
}
form.fade-this {
  opacity: 0.2;
}
form.hide-this {
  display: none;
}

.form-submit-message {
  display: none;
}
.form-submit-message.show-this {
  display: block;
}

.popup {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  transition: 0.3s all;
  opacity: 0;
  visibility: hidden;
  padding: 0 15px;
  z-index: 1;
}
.popup-content {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  background: white;
  padding: 20px;
  z-index: 2;
}
.popup-close {
  text-align: right;
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 30px;
  background: #652f30;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
}
.popup-close:hover {
  opacity: 0.8;
}
.popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.popup-header h2 {
  margin: 0;
  border-bottom: 1px solid #000;
}
.popup-body {
  position: relative;
}
.popup.show-this {
  opacity: 1;
  visibility: visible;
}
.popup iframe {
  width: 100%;
  height: 250px;
}

.page-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all;
}
.page-loader.hide-this {
  opacity: 0;
  visibility: hidden;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #652f30;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}
.loader-overlay.show-this {
  opacity: 1;
  visibility: visible;
}

.btn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  background: #652f30;
  color: #fff;
  text-align: center;
}
.btn .fa, .btn .fab, .btn .fa-brands {
  margin-right: 5px;
}
.btn-wrapper {
  display: flex;
  margin: 10px 0 0 -10px;
}
.btn-print {
  padding: 10px 20px;
  display: inline-block;
  width: initial;
}

.contact-list > div {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-list > div:first-of-type {
  padding-top: 0;
}
.contact-details {
  font-size: 16px;
}
.contact-details span {
  display: block;
  font-size: 14px;
}
.contact-numbers a {
  background: #652f30;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 7px 15px;
  display: inline-block;
  transition: 0.3s all;
  font-size: 12px;
}
.contact-numbers a span {
  margin-left: 5px;
}
.contact-numbers a:hover {
  opacity: 0.8;
}

.guests_page {
  opacity: 1;
  visibility: visible;
  transition: 0.3s all;
}
.guests_page.hide-page {
  opacity: 0;
  visibility: hidden;
}
.guests_page_filters {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 0;
}
.guests_page_filters_wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.guests_page_filters_wrapper > span {
  padding: 0 15px;
}
.guests_page_print {
  margin-left: auto;
}

.dropdown {
  position: relative;
}
.dropdown-btn {
  padding: 0 10px;
  border-bottom: 1px solid #8f5c55;
  color: #000;
}
.dropdown-btn .fa {
  margin-left: 5px;
}
.dropdown-box {
  opacity: 0;
  visibility: hidden;
  height: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background: #8f5c55;
  z-index: 10;
}
.dropdown-box > a {
  padding: 5px 10px;
  color: #fff;
}
.dropdown-box.show-this {
  opacity: 1;
  visibility: visible;
  height: initial;
}

.total_individual {
  display: none;
  text-align: center;
}

.calendar-add {
  margin-top: 15px;
}
.calendar-btns {
  display: flex;
  margin: 10px 0 0 -10px;
}
.calendar-img img {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .invite-title {
    bottom: 150px;
  }
  .invite-title h1 {
    font-size: 50px;
  }
  .guests-list-wrapper {
    width: 1500px;
  }
}
@media only screen and (max-width: 600px) {
  .invite-card.front {
    height: 600px;
    background-size: 500px;
    background-position: -40px -80px;
  }
  .invite-card.back .wrapper {
    padding: 50px 20px 0;
  }
  .invite-card.back::after {
    background-size: 750px;
    background-position: -270px -35px;
  }
  .invite-card .content {
    margin: 30px 0;
  }
  .invite-card .content h3 {
    font-size: 23px;
  }
  .invite-links {
    max-width: 530px;
    padding: 0 15px;
  }
  .invite-links-wrapper {
    height: 48px;
  }
  .invite-links > a {
    font-size: 12px;
  }
  .invite-links.sticky {
    padding: 0;
  }
  .btn-wrapper {
    flex-direction: column;
  }
  .btn-wrapper *:first-of-type {
    margin-bottom: 10px;
  }
  .contact-numbers a span {
    display: none;
  }
  .popup-body {
    max-height: 500px;
    overflow-y: scroll;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .popup-body::-webkit-scrollbar {
    width: 5px;
  }
  .popup-body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  .popup-body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  .popup-body::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .guests_page_filters_wrapper {
    flex-wrap: wrap;
  }
  .guests_page_filters_wrapper .dropdown {
    width: 100%;
    margin-bottom: 20px;
  }
  .guests_page_filters_wrapper > span {
    display: none;
  }
  .calendar-btns {
    flex-wrap: wrap;
  }
  .calendar-btns > a {
    margin-bottom: 10px;
  }
  .calendar-btns > a:last-of-type {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=/styles.e4690120.css.map */