<form id="rsvpForm">
    <div class="form-row">
        <label>Name*</label>
        <span><input type="text" name="name" class="name" required=""></span>
    </div>
    <div class="form-row">
        <label>Phone*</label>
        <span><input type="text" name="phone" class="phone" required=""></span>
    </div>
    <div class="form-row">
        <label>I will be*</label>
        <div class="select-wrapper">
            <select id="status" class="status" name="status" required="">
                <option value="">Please Select</option>
                <option value="attending">Attending</option>
                <option value="not-attending">Not attending</option>
            </select>
        </div>
    </div>
    <div class="form-row two-col hide-this controlled">
        <div class="partners-wrapper" id="partners">
            <label>Adults*</label>
            <div class="select-wrapper">
                <select name="pax" class="pax">
                    <option value="">Please Select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="children-wrapper" id="children">
            <label>Children*</label>
            <div class="select-wrapper">
                <select name="children" class="children">
                    <option value="">Please Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-row">
        <label>Guest Of*</label>
        <div class="select-wrapper">
            <select id="guest" class="guest" name="guest" required="">
                <option value="">Please Select</option>
                <option value="Zainuddin">Zainuddin</option>
                <option value="Shahnaz">Shahnaz</option>
                <option value="Haikal">Haikal</option>
                <option value="Moh'd Rafi'">Moh'd Rafi'</option>
                <option value="Juhariah">Juhariah</option>
                <option value="Hanna">Hanna</option>
                <option value="Hanis">Hanis</option>
                <option value="Hazwan">Hazwan</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <label>Comments/Wishes</label>
        <span><textarea name="message" class="message"></textarea></span>
    </div>
    <div class="form-row submit">
        <p><input type="submit" value="Submit" class="submit-btn"></p>
    </div>
</form><script src="/rsvpForm.681b57e2.js"></script>