<form id="rsvpForm">
    <div class="form-row">
        <label>Name*</label>
        <span><input type="text" name="name" class="name" required placeholder="John Smith"></span>
    </div>
    <div class="form-row">
        <label>Phone*</label>
        <span><input type="text" name="phone" class="phone" required placeholder="0174383016"></span>
    </div>
    <div class="form-row">
        <label>I will be*</label>
        <span>
            <select id="status" class="status" name="status" >
                <option value="">Please Select</option>
                <option value="attending">Attending</option>
                <option value="not-attending">Not attending</option>
            </select>
        </span>
    </div>
    <div class="form-row" id="partners">
        <label>Pax*</label>
        <span>
            <select name="pax" class="pax">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="More">More</option>
            </select>
        </span>
    </div>
    <div class="form-row">
        <label>Guest Of</label>
        <span>
            <select id="guest" class="guest" name="guest">
                <option value="Moh’d Rafi’">Moh’d Rafi’</option>
                <option value="Juhariah">Juhariah</option>
                <option value="Nur Hanna">Nur Hanna</option>
                <option value="Nur Hanis">Nur Hanis</option>
                <option value="Muhammad Hazwan">Muhammad Hazwan</option>
            </select>
        </span>
    </div>
    <div class="form-row">
        <label>Comments/Wishes/Allergy</label>
        <span><textarea name="message" class="message"></textarea></span>
    </div>
    <div class="form-row submit">
        <p><input type="submit" value="Submit" class="submit-btn" ></span></p>
    </div>
</form>