<form id="rsvpForm">
    <div>
        <label>Name*</label><br>
        <span><input type="text" name="name" class="name" required placeholder="John Smith"></span>
    </div>
    <div>
        <label>Phone*</label><br>
        <span><input type="text" name="phone" class="phone" required placeholder="0174383016"></span>
    </div>
    <div>
        <label>Email*</label><br>
        <span><input type="email" name="email" class="email"  placeholder="johnsmith@gmail.com"></span>
    </div>
    <div>
        <label>I will be*</label><br>
        <span>
            <select id="status" class="status" name="status" >
                <option value="">Please Select</option>
                <option value="attending">Attending</option>
                <option value="not-attending">Not attending</option>
            </select>
        </span>
    </div>
    <div id="partners">
        <label>Pax*</label><br>
        <span>
            <select name="pax" class="pax">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="More">More</option>
            </select>
        </span>
    </div>
    <div>
        <label>Comments/Wishes/Allergy</label><br>
        <span><textarea name="message" class="message"></textarea></span>
    </div>
    <p><input type="submit" value="Submit"></span></p>
</form>