<form id="rsvpForm">
    <div class="form-row">
        <label>Nama*</label>
        <span><input type="text" name="name" class="name" required placeholder=""></span>
    </div>
    <div class="form-row">
        <label>Nombor Telefon*</label>
        <span><input type="text" name="phone" class="phone" required placeholder=""></span>
    </div>
    <div class="form-row">
        <label>Saya Akan*</label>
        <span>
            <select id="status" class="status" name="status" >
                <option value="">Sila Pilih</option>
                <option value="attending">Hadir</option>
                <option value="not-attending">Tidak Hadir</option>
            </select>
        </span>
    </div>
    <div class="form-row two-col hide-this controlled">
        <div class="partners-wrapper" id="partners">
            <label>Bilangan*</label>
            <span>
                <select name="pax" class="pax">
                    <option value="">Please Select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </span>
        </div>
        <div class="children-wrapper" id="children">
            <label>Kanak-kanak*</label>
            <span>
                <select name="children" class="children">
                    <option value="">Please Select</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </span>
        </div>
    </div>
    <div class="form-row">
        <label>Tetamu Kepada</label>
        <span>
            <select id="guest" class="guest" name="guest" required>
                <option value="">Sila Pilih</option>
                <option value="Zainuddin">Zainuddin</option>
                <option value="Shahnaz">Shahnaz</option>
                <option value="Haikal">Haikal</option>
                <option value="Moh’d Rafi’">Moh’d Rafi’</option>
                <option value="Juhariah">Juhariah</option>
                <option value="Hanna">Hanna</option>
                <option value="Hanis">Hanis</option>
                <option value="Hazwan">Hazwan</option>
            </select>
        </span>
    </div>
    <div class="form-row">
        <label>Komen/Ucapan</label>
        <span><textarea name="message" class="message"></textarea></span>
    </div>
    <div class="form-row submit">
        <p><input type="submit" value="Submit" class="submit-btn" ></span></p>
    </div>
</form>